<% title(@ticket.number, "Tickets") %>
<title>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    ServiceLog
  <% end %>
</title>
<%= @ticket.number %>
<%= @ticket.customer %>
<%= @ticket.date_in %>
<%= @ticket.in_by %>
<%= @ticket.make %>
<%= @ticket.model %>
<%= @ticket.serial %>
<% unless @ticket.date_out.nil? %>
  <%= @ticket.date_out %>
  <%= @ticket.out_by %>
  Ticket Closed
<% else %>
  Ticket Open
<% end %>
<%= link_to "Edit Ticket", edit_ticket_path(@ticket) %>
